<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DTNetwork</title>
    <link rel="icon" type="image/ico" href="../static/images/icoTitl.PNG" th:href="@{/images/icoTitl.PNG}" >
    <link rel="stylesheet" media="screen" th:href="@{/css/background.css}" href="../../static/css/background.css">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/tooltips.css}">
    <link rel="stylesheet" th:href="@{/css/simpleTable.css}">
    <link rel="stylesheet" href="../static/css/overlay.css">
    <link rel="stylesheet" href="" th:href="@{/css/header.css}">

    <link rel="stylesheet" href="" th:href="@{/css/footer.css}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/modal.css" th:href="@{/css/modal.css}">
    <link rel="stylesheet" href="" th:href="@{/css/search.css}">
    <style>

    </style>
    <link rel="stylesheet" href="../../../../../../strona1/style.css">
</head>
<body>
<script>
    window.location.href;
</script>
<div th:replace="~{fragments/header.html::header}"></div>
    <div th:replace="~{fragments/navbar.html::navbar(${@listOfEnumValues.rooms})}"></div>



            <table th:if="${dto.getDeviceType().name()=='CHILLER'}" id="chiller" style="padding: 0;margin: 10px 10px; background-color: white; border: 1px solid black;color: black; text-align: center; width: 500px">
                <tr style=" border: 1px solid black;color: black; text-align: center" id="topBar2">
                    <th class="sets">Nastawa</th>
                    <th class="sets">Temp. zadana glikolu</th>
                    <th class="sets">Data</th>
                    <th class="sets">Ustawił</th>

                </tr>

                <tr >
                    <td  class="sets" >Aktualna</td>
                    <td id="openModal3"  class="sets"  th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet().getActualSetPoint()}" ></td>
                    <td  class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet() ==null}"  >Nieznana</td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet() !=null}" th:text="${@calendarUtil.invertDateCal(@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet().getSetDate())}" ></td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet() ==null}" >Nieznana</td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet().getAuthor()}" ></td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet() ==null}"  >-</td>


                </tr>
                <tr >
                    <td  class="sets" >Poprzednia</td>
                    <td  class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet().getPreviousSetPoint()}" ></td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet()  ==null}"  >Nieznana</td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet()  !=null}" th:text="${@calendarUtil.invertDateCal(@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet().getPreviousSetDate())}" ></td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet()  ==null}" >Nieznana</td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet()  !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet().getPreviousAuthor()}" ></td>
                    <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getChillerSet()  ==null}"  >-</td>


                </tr>
            </table>

    <table th:if="${dto.getDeviceType().name()=='DRY_COOLER'}" id="drycooler" style="padding: 0;margin: 10px 10px; background-color: white; border: 1px solid black;color: black; text-align: center; width: 500px">
        <tr style=" border: 1px solid black;color: black; text-align: center" id="topBar3">
            <th class="sets">Nastawa</th>
            <th class="sets">Temp. zadana LS</th>
            <th class="sets">Temp. zadana PS</th>
            <th class="sets">Temp. zewn. LS</th>
            <th class="sets">Temp. zewn. PS</th>
            <th class="sets">Data</th>
            <th class="sets">Ustawił</th>
            <th></th>

        </tr>

        <tr >
            <td  class="sets" >Aktualna</td>
            <td  class="sets"  th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getActualSetPoint_CWL()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() ==null}"  >Nieznana</td>
            <td  class="sets"  th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getActualSetPoint_CWR()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() ==null}"  >Nieznana</td>
            <td  class="sets"  th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getActualSetPoint_AmbL()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() ==null}"  >Nieznana</td>
            <td  class="sets"  th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getActualSetPoint_AmbR()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() ==null}"  >Nieznana</td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@calendarUtil.invertDateCal(@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getSetDate())}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() ==null}" >Nieznana</td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getAuthor()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() ==null}"  >-</td>
            <td id="openModal5">Zmień</td>


        </tr>
        <tr >
            <td  class="sets" >Poprzednia</td>
            <td  class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getPreviousSetPoint_CWL()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  ==null}"  >Nieznana</td>
            <td  class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getPreviousSetPoint_CWR()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  ==null}"  >Nieznana</td>
            <td  class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getPreviousSetPoint_AmbL()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  ==null}"  >Nieznana</td>
            <td  class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet() !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getPreviousSetPoint_AmbR()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  ==null}"  >Nieznana</td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  !=null}" th:text="${@calendarUtil.invertDateCal(@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getPreviousSetDate())}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  ==null}" >Nieznana</td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  !=null}" th:text="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet().getPreviousAuthor()}" ></td>
            <td class="sets" th:if="${@deviceDAO.findByInventNumber(dto.getInventNumber()).getDrycoolerSet()  ==null}"  >-</td>
            <td></td>


        </tr>
    </table>


    <div style="position: absolute; top: 300px;"  th:if="errorsAmount!=0" class="errors">
        <p th:each="err,iterStat :${errors}" th:text=" ${iterStat.index+1} + '. Error in field: '+
               ${err.field.toUpperCase()}+'! Bad value: '+${err.rejectedValue}+'. Error message: '+${err.defaultMessage} " ></p>
    </div>
    <div id="chillerSetsModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <i style=" margin-right: 20px; float: right " class="fas fa-times" id="closeChillerSets"></i>
            <form class="modform" th:action="@{'/devices/chillerSet/' + ${dto.getInventNumber()}}" th:object="${chillerSetDTO}"  modelAttribute="chillerSetDTO" th:method="post" method="post"  >

                <label class="modlab"  for="setValue">Temp. zadana</label>
                <input type="text" class="modsel" id="setValue"     th:field="*{actualSetPoint}" th:errorclass="errorsFields"  >
                <input style="padding: 6px" id="chillerSetBtn"  type="submit" value="Zapisz" >
            </form>
        </div>

    </div>

    <div id="drycoolerSetsModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <i style=" margin-right: 20px; float: right " class="fas fa-times" id="closeDrycoolerSets"></i>
            <form class="modform2" th:action="@{'/devices/drycoolerSet/' + ${dto.getInventNumber()}}" th:object="${drycoolerSetDTO}"  modelAttribute="drycoolerSetDTO" th:method="post" method="post"  >

                <label class="modlab2"  for="setValue_CWL">Temp. zadana lewa</label>
                <input type="text" style="margin-left: auto; margin-right: 400px; width: 50px" class="modsel2" id="setValue_CWL"     th:field="*{actualSetPoint_CWL}" th:errorclass="errorsFields"  >
                </br>
                <label class="modlab2"  for="setValue_CWR">Temp. zadana prawa</label>
                <input type="text" style="margin-left: auto; margin-right: 400px; width: 50px" class="modsel2" id="setValue_CWR"     th:field="*{actualSetPoint_CWR}" th:errorclass="errorsFields"  >
                </br>
                <label class="modlab2"  for="setValue_AmbL">Temp. zewnętrzna lewa</label>
                <input type="text" style="margin-left: auto; margin-right: 400px; width: 50px" class="modsel2" id="setValue_AmbL"     th:field="*{actualSetPoint_AmbL}" th:errorclass="errorsFields"  >
                </br>
                <label class="modlab2"  for="setValue_AmbR">Temp. zewnętrzna prawa</label>
                <input type="text" style="margin-left: auto; margin-right: 400px; width: 50px" class="modsel2" id="setValue_AmbR"     th:field="*{actualSetPoint_AmbR}" th:errorclass="errorsFields"  >
                <input style="padding: 6px" id="drycoolerSetBtn"  type="submit" value="Zapisz" >
            </form>
        </div>

    </div>

    <div class="container" style="min-height: 100vh; padding-top: 100px; ">
    <div class="col-25" style="margin-left: 50px; ">
        <h1 style="text-align: center;  background-color: lightgray" th:text="${dto.getDeviceDescription()}+ '&roarr;'+${dto.getRoom()}"></h1>
        <div style="text-align: center;"><img  src="" th:src="${dto.deviceType.getIMAGE()}" alt=""></div>
    </div>

    <div class="col-75" style="margin-left: 300px">

        <table >
            <h1 style="text-align: left; margin-left: 150px;margin-bottom: 20px;"><span  th:text="'Widok Główny ' + ${dto.getDeviceDescription()} " ></span></h1>
            <tr id="topBar">
                <th>Atrybut</th>
                <th>Wartość</th>
                <th>Akcja</th>
            </tr>
            <tr>
                <td>Numer inw.</td>
                <td th:text="${dto.getInventNumber()}">Test</td>
                <td th:text="'---'"></td>

            </tr>
            <tr>
                <td>Data początku ekspl.</td>
                <td th:if="${dao.getDeviceCard()== null}" th:text="'Nieznana'"> </td>
                <td th:if="${dao.getDeviceCard()!= null}" th:text="${CalUtil.cal2string(dao.getDeviceCard().getStartDate())}"> </td>

                <td th:if="${dao.getDeviceCard()== null}"><a href="" th:text="'---'"></a> </td>
                <td th:if="${dao.getDeviceCard()!= null}"><a href="" th:text="'---'"></a> </td>
            </tr>
            <tr>
                <td>Ilość usterek</td>
                <td th:text="${dao.getDamageList().size()}"></td>
                <td th:if="${dao.getDamageList().size()==0}" th:text="'---'" ></td>
                <td th:if="${dao.getDamageList().size()!=0}" ><a th:href="@{'/damages/devices/'+${dto.getInventNumber()}+'/1'}" th:text="' &#8981;'+' Pokaż usterki'" > </a></td>

            </tr>
            <tr>
                <td>Ilość postów</td>
                <td th:text="${posts}"></td>
                <td th:if="${posts==0}" th:text="'---'" ></td>
                <td th:if="${posts!=0}" ><a th:href="@{'/posts/devices/'+${dto.getInventNumber()}+'/1'}" th:text="' &#8981;'+'Pokaż posty'" ></a></td>

            </tr>
            <tr>
                <td>Ilość zamówień</td>
                <td th:text="${issueDAO.findByInventNumber(dto.getInventNumber()).size()}"></td>
                <td th:if="${issueDAO.findByInventNumber(dto.getInventNumber()).size()==0}" th:text="'---'" ></td>
                <td th:if="${issueDAO.findByInventNumber(dto.getInventNumber()).size()!=0}" ><a href="" th:href="@{'/issueDocs/devices/'+${dto.getInventNumber()}+'/1'}" th:text="' &#8981;'+'Pokaż zamówienia'" ></a></td>
            </tr>

            <tr th:if="${dto.getDeviceType().name().equals('GENERATOR')}">
                <td>Data ostatniego </br> uruchomienia</td>
                <td th:utext="${@calendarUtil.invertDateString(lastTest)}+' </br> '+${activityType}"></td>
                <td th:if="${dao.getTests().isEmpty()}" th:text="'---'"></td>
                <td th:if="${!dao.getTests().isEmpty()}" ><a href="" th:href="@{'/generators/' + ${dto.getInventNumber()} + '/1'}"  th:utext="' &#8981;'+'Pokaż </br> dziennik pracy'"></a></td>

            </tr>

        </table>
        <div style="width:65%; display: flex;  justify-content: center; ">
            <div class="tooltip">
                <a th:href="@{/posts/addForm/}+${dto.getInventNumber()}"><i class="fas fa-clipboard-list" style=" color: #051f64;"></i></a>
                <span class="tooltiptext">Dodaj nowy post</span>
            </div>
            <div class="tooltip">
                <a href="" th:href="@{/damages/addForm/}+${dto.getInventNumber()}"> <i class="fas fa-exclamation-circle" style=" color: #640108;"></i></a>
                <span class="tooltiptext">Dodaj nową usterkę</span>
            </div>
            <div class="tooltip">
                <a th:href="@{/issueDocs/addForm/}+${dto.getInventNumber()}"><i class="fas fa-file-invoice-dollar" style=" color: darkgreen;"></i></a>
                <span class="tooltiptext">Dodaj nowe zamówienie</span>
            </div>
            <div class="tooltip"  >
                <!--<a th:href="@{/cards/addForm/}+${dto.getInventNumber()}"><i class="far fa-id-card" style=" color: #55003b;"></i></a>-->
                <a th:href="@{/download1/} + ${dto.getInventNumber()} "><i class="fas fa-download" style=" color: #55003b;"></i></a>
                <span class="tooltiptext">Pobierz kartę maszyny</span>
            </div>
            <div class="tooltip"  th:if="${dao.getDeviceCard()!= null}" >
                <a href="" th:href="@{/download1}" ><i class="fas fa-download" style=" color: #55003b;"></i></a>
                <span class="tooltiptext">Pobierz kartę maszyny</span>
            </div>
            <div class="tooltip" th:if="${dto.getDeviceType().name().equals('GENERATOR')}" >
                <a href="" th:href="@{/devices/activityForm/} + ${dto.getInventNumber()}"  ><i class="fas fa-charging-station" style="color: orangered"></i></a>
                <span class="tooltiptext">Dodaj uruchomienie generatora</span>
            </div>
            <div class="tooltip" th:if="${!dto.getRoom().name().equals('Nieaktywne')}"  >
                <a href="" th:href="@{/devices/setUnactive/} + ${dto.getInventNumber()}"  ><i class="fas fa-power-off" style="color: #6b202b"></i></a>
                <span class="tooltiptext">Oznacz jako NIEAKTYWNE</span>
            </div>
        </div>
    </div>


    </div>
    <script  th:src="@{/js/mymodal.js}"></script>
    <script  th:src="@{/js/chillerModal.js}"></script>
    <script  th:src="@{/js/drycoolerModal.js}"></script>
</body>
</html>