<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="screen" th:href="@{/css/background.css}" href="../../static/css/background.css">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="" th:href="@{/css/collapsible.css}">
    <link rel="stylesheet" href="" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/tooltips.css}">
    <link rel="stylesheet" th:href="@{/css/simpleTable.css}">
    <link rel="stylesheet" href="../static/css/overlay.css">
    <link rel="stylesheet" href="" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="" th:href="@{/css/footer.css}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
    <script>
        window.location.refresh();
    </script>
    <div th:replace="~{fragments/header.html::header}"></div>
    <div th:replace="~{fragments/navbar.html::navbar(${@listOfEnumValues.rooms})}"></div>
    <div class="container" style="min-height: 100vh; padding-top: 150px; padding-right: 10px  ">
        <div class="col-25" style="margin-left: 50px">
            <h1 style="text-align: center; border:2px solid black; width: 350px;background-color: lightgray" th:text="${dto.getDeviceDescription()}+ '&roarr;'+${dto.getRoom()}"></h1>
            <img style="text-align: left;width: 350px;height: 350px" src="" th:src="${dto.deviceType.getIMAGE()}" alt="">
        </div>
        
        <div class="col-75" style="margin-right: 0px; border: 1px solid black;width: 1200px" >
            <h1><span>Documents for selected device</span></h1>
            <table style="width: 100%">
                <tr id="topBar">
                    <th style="width: 150px">Signature</th>
                    <th>Date</th>
                    <th>Name</th>
                    
                    <th style="width:600px">Title</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
                <tr th:each="doc:${docs}">
                    <td style="white-space:pre-wrap;width: 150px" th:text="${doc.issueSignature}">Invent Number</td>
                    <td th:text="${doc.issueDate}">Invent Number</td>
                    <td th:text="${doc.delivererName}">Invent Number</td>
                    
                    <td style="width: 600px">
                        <button class="collapsible"  th:text="${doc.issueTittle}"></button>
                        <div class="content">
                            <p th:text="${doc.getIssueDetails()}" style="white-space: pre-wrap"></p>
                        </div>
                    </td>
                    <td th:text="${doc.value}">Invent Number</td>
                    <td th:text="'---'"></td>
                
                </tr>
            
            
            </table>
            <div style="width:100%; display: flex;  justify-content: space-around;">
                
                <div class="tooltip">
                    <a href="" th:href="@{'/issueDocs/addForm/'+ ${dto.getInventNumber()}}"> <i class="fas fa-file-invoice-dollar" style=" color: darkgreen;"></i></a>
                    <span class="tooltiptext">Add new document</span>
                </div>
                <div class="tooltip">
                    <a th:href="@{'/devices/'+${dto.getInventNumber()}}"><i class="fas fa-info-circle" style=" color: aqua;"></i></a>
                    <span class="tooltiptext">Show device info</span>
                </div>
                <div class="tooltip">
                    <a onclick="window.history.go(-1)"><i class="fas fa-backward" style=" color: #55003b;"></i></a>
                    <span class="tooltiptext">Back to previous site</span>
                </div>
            </div>
        </div>
    
    </div>
    <div th:insert="~{fragments/footer.html::footer}"></div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>