<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DTNetwork</title>
    <link rel="icon" type="image/ico" href="../static/images/icoTitl.PNG" th:href="@{/images/icoTitl.PNG}" >
    <link rel="stylesheet" media="screen" th:href="@{/css/background.css}" href="../../static/css/background.css">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet"  th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="" th:href="@{/css/footer.css}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/modal.css" th:href="@{/css/modal.css}">
</head>
<body>
<script>
    window.location.refresh();
</script>
<div th:replace="~{fragments/header.html::header}"></div>
<div th:replace="~{fragments/navbar.html::navbar(${@listOfEnumValues.rooms})}"></div>


<div th:if="errorsAmount!=0" class="errors">
    <p th:each="err,iterStat :${errors}" th:text=" ${iterStat.index+1} + '. Error in field: '+
               ${err.field.toUpperCase()}+'! Bad value: '+${err.rejectedValue}+'. Error message: '+${err.defaultMessage} " ></p>
</div>
<div class="container" style="min-height: 100vh">

    <h1 ><span>Dodaj nowy post</span></h1>
    <form  th:action="@{'/posts/edit/' + ${id} }" th:object="${newPost}" method="post"
           modelAttribute="newPost" >

        <div class="row">
            <div class="col-25">
                <label for="postDdate">Data</label>
            </div>
            <div class="col-75">
                <input type="date" id="postDdate" name="postDate" placeholder="YYYY-MM-DD" th:field="*{date}" th:errorclass="errorsFields">
            </div>

        </div>
        <!--Add select!-->
        <div class="row">
            <div class="col-25">
                <label for="device">Urządzenie</label>
            </div>
            <div class="col-75">
                <select id="device" name="Device"  th:field="*{inventNumber}">
                    <option th:value="'NOT SPECIFIED'">Wybierz urządzenie</option>
                    <option th:if="${key}!='NOT SPECIFIED'" th:each="key,iterStat:${devices.keySet()}" th:value="${key}" th:text="${@deviceDAO.findByInventNumber(key).deviceDescription}+' '+${@deviceDAO.findByInventNumber(key).room}"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="author">Autor</label>
            </div>
            <div class="col-75">
                <select class="disabledSelect" id="author" name="Author"  th:field="*{author}">
                    <option th:hidden="hidden" th:readonly="readonly"  th:value="${@mainController.getUser()}" th:text="${@mainController.getUser()}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="content">Treść</label>
            </div>
            <div class="col-75">
                <textarea id="content" name="content" placeholder="Write something.." style="height:200px" th:field="*{content}"th:errorclass="errorsFields"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="cancelbtn" value="Anulujl" onclick="window.history.go(-1); return false;">
            <input type="submit"  value="Wyślij" style="margin-right: 20px">
        </div>
    </form>
</div>

<script  th:src="@{/js/mymodal.js}"></script>

<div th:insert="~{fragments/footer.html::footer}"></div>
</body>
</html>