<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
    <div th:fragment="footer" class="footerContainer">
        
            <div class="ackData">
                 2019 Akademickie Centrum Komputerowe <br> CYFRONET AGH <br>
                Nawojki 11, 30-950 Kraków
            </div>
            <div class="otherData">
                Service developed by © Arkadiusz Zięba, M. of Sc. <br>
                Service uses cookies and similar technologies <br>

            </div>
        
    </div>
    
</body>
</html>