<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
    <div th:fragment="footer" class="footerContainer">
        
            <div class="ackData">
                 2022 Akademickie Centrum Komputerowe <br> CYFRONET AGH <br>
                Nawojki 11, 30-950 Kraków
            </div>
            <div class="otherData">
                Autorem aplikacji jest mgr inż. Arkadiusz Zięba <br>
                Aplikacja wykorzystuje technologię cookies <br>
                v. 1.85

            </div>
        
    </div>

</body>
</html>