<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/css/header.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
    
    <div th:fragment="header">
        <div class="headerBar">
    
    
            <a th:href="@{/dtnetwork}"> <div id="projectName">DTNetwork
                <p>&copy;</p></div></a>
            <div id="desc">
                <h1 id="tittle">DZIAŁ TECHNICZNY PYCHOWICE</h1>
            </div>


            <a id="cyf"><div id="logo"></div></a>


            
        </div>
        
        
        
        
    </div>
    

</body>
</html>