<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/css/header.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
    
    <div th:fragment="header">
        <div class="headerBar">
            
            <div id="projectName">DTNetwork
                <p>&copy;</p></div>
            
            <div id="logo"></div>
            <h1 id="tittle">DZIAŁ TECHNICZNY <br> NAWOJKI</h1>
            
        </div>
        
        
        
        
    </div>
    

</body>
</html>