<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  th:href="@{/css/navbar.css}">
   
   
   

</head>
<body>

    <div th:fragment="navbar(rooms)">
        <script>
            window.location.refresh;
        </script>
        <div id="bar">
        <div id="nav">
            <ul>
                <li><a class="home" href="#" th:href="@{/dtnetwork}">Home</a></li>
                <li><a >Devices &raquo;</a>
                    <ul>
                        <li  th:each="room:${rooms}"><a href="#" th:text="${room}+' '+'&raquo;'"></a>
                            <ul>
                                <li th:if="${device.getInventNumber()}!='NOT SPECIFIED'" th:each="device:${@deviceServiceImpl.findByRoom(room)}"><a th:href="@{/devices/}+ ${device.inventNumber}" th:text="${device.deviceDescription}"></a></li>
                                <li><a href="#" th:text="'+' + ' Add new'" th:href="@{/devices/addForm/}+${room}" >+ add new</a></li>
                            </ul>
                        
                        </li>

                    </ul>
                </li>

                <li><a href="#">Documents &raquo;</a>
                    <ul>
                        <li th:each="year:${@issueDocServiceImpl.setOfYears()}" ><a href="#" th:href="@{'/issueDocs/'+${year}+'/1'}" th:text="${year}"></a></li>
                    </ul>
                </li>

                <li><a href="#">Posts &raquo;</a>
                    <ul>
                        <li th:if="${!@shortPostServiceImpl.areAllForDamage(year)}" th:each="year:${@shortPostServiceImpl.setOfYears()}" ><a href="#" th:href="@{'/posts/all/'+${year}+'/1' }" th:text= "${year}" >Test</a></li>
                    </ul>
                </li>

                <li><a th:href="@{/inBuild}" >Invoices &raquo;</a>

                </li>

                <li><a style="padding-bottom: 7px" class="logout" href="#"   th:text=" '&#9673; '+ ${@mainController.getUser()} " >Logout</a>
                    <ul>
                        <li><a class="logout" href="" th:href="@{/logout}" th:text="Logout"></a></li>
                        <li><a class="logout" href="" th:href="@{'/users/' + ${@mainController.getUser()}}" th:text="'Change password'" ></a></li>
                        <li th:if="${@mainController.getUser()}=='admin'" ><a class="logout" href="#" th:href="@{/dev}" >Dev panel</a></li>
                        <li th:if="${@mainController.getUser()}=='admin'" ><a class="logout" href="#" th:href="@{/users}" >Users</a></li>
                        <li th:if="${@mainController.getUser()}=='admin'" ><a class="logout" href="#" th:href="@{/dev/users/setPass}" >Set pass</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </div>

</body>
</html>
