<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  th:href="@{/css/navbar.css}">
   
   
   

</head>
<body>

    <div th:fragment="navbar(rooms)">
        <script>
            window.location.refresh;
        </script>
        <div id="bar">
        <nav id="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Devices &raquo;</a>
                    <ul>
                        <li  th:each="room:${rooms}"><a href="#" th:text="${room}+' '+'&raquo;'"></a>
                            <ul>
                                <li th:each="device:${@deviceServiceImpl.findByRoom(room)}"><a href="" th:text="${device.deviceDescription}"></a></li>
                                <li><a href="#" th:text="'+' + ' Add new'" th:href="@{/devices/addForm/}+${room}" >+ add new</a></li>
                            </ul>
                        
                        </li>
                        <!--<li><a href="#">Android</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Web Design &raquo;</a>
                            <ul>
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">jQuery</a></li>
                                <li><a href="#">PHP</a></li>
                                <li><a href="#">WordPress</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Graphic Design &raquo;</a>
                            <ul>
                                <li><a href="#">Corel Draw</a></li>
                                <li><a href="#">Photo Shop</a></li>
                                <li><a href="#">Illustrator</a></li>
                                <li><a href="#">Dreamweaver</a></li>
                            </ul>
                        </li>
                        <li><a href="#">MS.Net</a></li>-->
                    </ul>
                </li>
                <li><a href="#">Documents &raquo;</a>
                    <ul>
                        <li th:each="year:${@issueDocServiceImpl.setOfYears()}" ><a href="#" th:text="${year}">Corel Draw</a></li>
                    </ul>
                </li>
                <li><a href="#">Download &raquo;</a>
                    <ul>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Software</a></li>
                        <li><a href="#">Game</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        </div>
    </div>

</body>
</html>