html{
    margin: 0px;
    padding: 0px;
    min-height: 100%;


}

body {
  /*  background-image: url('../images/green-frame-transparent-backgr.png');
    background-repeat: r;*/

    background: url('../images/green-frame-transparent-backgr.png') no-repeat center center fixed ;
    background-size: cover;


    margin: 0;
    padding: 0px;

    width: 100%;
    min-height: 100%;


}




