html{
    margin: 0px;
    padding: 0px;

}

body {
    background-image: url('../images/green-frame-transparent-backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 140px;
    margin: 0;
    padding: 0px;
    position: relative;
    min-width: 1900px;

    height: min-content;
}




