.collapsible {
    background-color: inherit;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: inherit;
    height: inherit;
    display: table-cell;
}

.active, .collapsible:hover {
    background-color: inherit;
    color: #0065b2;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #aeaeae;
}