

input[type=text],input[type=password],input[type=date],  textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


select {
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    resize: vertical;
}

select option{
    overflow: auto;
}

input[type=text]:focus, input[type=password]:focus ,input[type=date]:focus,textarea:focus, select:focus{
    border: 1.1px solid #327530;
}

select.disabledSelect{
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: darkgrey;
    z-index: 99;

}

select.disabledSelect:focus{
    border: 1.1px solid darkgrey;

}


select.disabledSelect:hover{
    cursor: not-allowed;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 70%;
}

.col-25 label{
    font-weight: bold;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 26.5%;
    margin-top: 0px;
}


input[type=submit].cancelbtn {
    background-color: #f44336;
}


input[type=submit].cancelbtn {
    background-color: #f44336;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    margin-top: 60px;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.1);


    padding: 20px;

    margin-right: 10px;

}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: center;
}

.col-25 h1{
    color: black;!important;
    width: 100%; !important;
}
.col-25 div{

    width: 100%;
}

.col-25 img{
    margin: 0px;
}

.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;


}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.container h1{
    text-align: center;
}

.col-75 h1{
    text-align: center;
    font-family: Poppins-Bold;
    backface-visibility: hidden;
    font-size: 2.0em;
    color: #666666;
    margin-bottom: 70px;
    margin-top: 10px;
    width: inherit;
    margin-left: inherit;
}

.col-75 ul{
    background-color: white;
    background-repeat: repeat;
    border: 1px solid #cccccc;
}

.col-75 h1 span{
    padding: 5px;
}

.errors{
    background-color: #ff645f;
    z-index: 1000;
}
.errors div{
    z-index: 1000;
}

.errors p{
    padding-left: 10px;
    z-index: 1000;
}

.errors p:first-child{
    padding-top: 10px;
}

.errors p:last-child{
    padding-bottom: 10px;
}

.row.submit{
    margin-bottom: 75px;
}

.errorsFields{
    border: 2px solid crimson ;
}

input[type=text].errorsFields,input[type=password].errorsFields,input[type=date].errorsFields {
    border: 2px solid crimson ;
}


input.disabledInput{
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: darkgrey;
    z-index: 99;

}

input.disabledInput:focus{
    border: 1.1px solid darkgrey;

}


input.disabledInput:hover{
    cursor: not-allowed;
}
