.headerBar{
    display: flex;

    align-items: center;
    height: 120px;
    flex-flow: row;
    justify-content: center;
    background: linear-gradient(to bottom left, #cff1f4, #edf4ff);
    /*background-image: white;*/
    border-bottom: 1px solid #779742;

}

.headerBar #tittle{

    margin-right: 30px;
    margin-top: 40px;
    text-align: center;

}

.headerBar #logo{

  height: 250px;
    width: 250px;
    background-image: url("../images/cyfronet-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
    align-self: flex-start;
    margin-right: 100px;
    margin-top: 15px;

}

.headerBar #projectName{

    margin-right: 40%;
    padding-right: 30px;
    font-family: 'Pacifico', cursive;
    color: #1cb50b;
    font-size: 3em ;
    border-bottom: 3px solid green;
    border-bottom-right-radius: 50px 50px;
    display: flex;
    flex-flow: row;

}
.headerBar p{
    color: black;
    font-size: 0.5em;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    align-self: flex-start;
    margin-top: 0px;
    padding: 0;


}

