.headerBar{
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    /*background: linear-gradient(to bottom left, #e0e0e0, #eeeeee);*/
    background-image: url("../images/green-header-png-12.png");

    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #5a7a3d;
    border-bottom: none;
    margin: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;


}

.headerBar #tittle{


    margin-left: 150px;
    margin-top: 60px;
    padding-top: 15px;
    text-align: right;
    font-family: arial, sans-serif;
    font-size: 1.2em;
    width: 300px;
    z-index: 99;

    background: -webkit-linear-gradient( #555555, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.headerBar #desc{
    background-image: url("../images/logo_desc3.png");
    width: 500px;
    height: 60px;
    text-align: center;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 25px;

}

.headerBar #logo{

    height: 140px;!important;
    width: 260px;!important;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index:90;
    align-self: flex-start;
    margin-right: 40px;
    margin-top: 15px;


}

.headerBar #projectName{


    padding-right: 30px;
    font-family: 'Pacifico', cursive;
    background-image:url("../images/name.PNG");
    background-size: cover;
    color: #008600;
    font-size: 3em;
    border-bottom: 3px solid #b40000;
    border-top: 3px solid #b40000;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 20px 20px;
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 20px 20px;
    display: flex;
    flex-flow: row;
    padding-left: 10px;



}
.headerBar  a{

    text-decoration: none;
    color: inherit;
    margin-right: 40%;
    margin-left: 20px;
    text-align: center;

}

.headerBar  a:visited{
    color: inherit;
    text-decoration: none;

}
.headerBar p{
    color: black;
    font-size: 0.5em;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    align-self: flex-start;
    margin-top: 0px;
    padding: 0;


}
