#success {
  padding: 20px;
  background-color: #7cf15b;
  color: rgba(3, 3, 3, 0.98);
  position: relative;
  z-index: 999;
}

#successClose {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#successClose:hover {
  color: black;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #0065b2;
}

.limiter {

  width: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
  margin-bottom: 80px;

}


.formButton{
  border:0;
  background:none;

}

.container-table100 {
  width: 100%;
  min-height: 100vh;

/*  background-image: linear-gradient(to bottom right,rgba(89,218,255,0.38),rgba(98,255,47,0.58));*/
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: start;
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;
 /* padding: 350px 30px;*/
  margin-top: 100px;
}

.wrap-table100 {
  width: 1300px;
  overflow: hidden;
  padding-bottom: 30px;

}

.table {
  width: 100%;
  display: table;
  margin: 0;
  margin-bottom: 30px;
}

 h1{
  text-align: center;
  font-family: Poppins-Bold;
  backface-visibility: hidden;
  font-size: 2.0em;
  color: #666666;
   margin-bottom: 10px;
}

 h1 span{
  padding: 5px;


}

.wrap-table100:last-child{
  text-align: right;
  z-index: 11;
}

.row {
  display: table;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background-color: #818181;
}



.cell {
  display: table-cell;
  vertical-align: middle;

}



.row .cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  border-right: 2px solid lightgrey;
  height: 30px;
}

.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  /*line-height: 1.2;*/
  font-weight: unset !important;
  border-right: 2px solid lightgrey;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
}

.row.header .cell:first-child{
  border-left: 2px solid lightgrey;
}

.row .cell:nth-child(1) {
  width: 80px !important;
  border-left: 2px solid lightgrey;
  /*padding-left: 40px;*/
}

.row .cell:nth-child(2) {
  width: 100px !important;
}

.row .cell:nth-child(3) {
  width: 150px !important;

}

.row .cell:nth-child(4){
  text-align: left;
  padding-left: 10px;
}

.row .cell:last-child{
  width: 100px !important;
}



.table, .row {
  width: 100% !important;
}

.row:hover {
  background-color: #ececff;
  cursor: auto;
}
.row.header:hover {
  background-color: #818181;
  cursor: pointer;
}

.pagination {
  display: inline-block;
  text-align: center;
  background-color: #cbcbcb;
  margin-bottom: 100px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;

}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a.active:hover {
  background-color: #57cc5b;
  border: 1px solid #57cc5b;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


