/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#openModal{
    width: 100px;
    height: fit-content;
}

.modform{
    text-align: center;
}

 .modlab{
     padding: 12px 12px 12px 0;
     display: inline-block;
     margin-left: 10%;
     font-size: 1.3em;
}

.modsel{
    font-size: 1.3em;
    margin-left: 20px;
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    resize: vertical;
}

.modin{
    margin-right: 20px;
    font-size: 1.3em;
    align-self: end;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 26.5%;

}





input[type=submit]:hover {
    background-color: #45a049;
}



