

#nav{

}

body{
    margin: 0;
}
ul{

    padding-left: 0px;
    margin-top: 0px;
    position: relative;
    float: left;
    width: 100%;
    background: linear-gradient(#228b22,#006400);
    margin-bottom: 0px;
}


ul li{
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
ul li a{
    border-right: 1px solid #fff;
    padding: 10px 25px;
    color: #fff;
    text-shadow: 1px 1px 0 #222;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(#228b22,#006400);
}

ul li:hover>a{
    background: linear-gradient(#006400,#228b22);
    color: #fff;
    opacity: 0.9;
}
ul li:hover>ul{
    visibility: visible;
}
ul ul,ul ul li ul{
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    width: 180px;
}
ul ul{
    top: 39px;
    left: 0;
}
ul ul li ul{
    top: 0;
    left: 181px;
}
ul ul li a{
    background: linear-gradient(#0065b2,#1685da);
    padding: 7px 15px;
    color: #fff;
    text-shadow: 0 1px 1px #111;
    text-decoration: none;
    display: inline-block;
    float: left;
    width: 150px;
    border-bottom: 1px dotted #fff;
}
ul ul ul li a{
    background: linear-gradient(#b22222,#8b0000);
}