table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 65%;
    margin-top: 30px;
    margin-bottom: 30px;
}



#topBar{
    background:  #818181;

}
#topBar2{
    background: #818181;

}

#topBar3{
    background: #818181;
}

td a:visited{
    color: inherit;
    text-decoration: none;
}

td a{
    text-decoration: none;
    color: inherit;
}

td a:hover{
    color: #0065b2;
    cursor: pointer;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;

}

th {

    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;

}


tr:hover{
    background-color: #dfdfdf;
}
tr {
    background-color: #f0f0f0;
}



