<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="screen" th:href="@{/css/background.css}" href="../../static/css/background.css">
    <link rel="stylesheet" href="../../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet"  th:href="@{/css/navbar.css}">

    <link rel="stylesheet" href="../static/css/overlay.css">
    <link rel="stylesheet" href="" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="" th:href="@{/css/footer.css}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
<script>
    window.location.refresh();
</script>
<div th:replace="~{fragments/header.html::header}"></div>
<div th:replace="~{fragments/navbar.html::navbar(${@listOfEnumValues.rooms})}"></div>
<h2 style="margin-left: 10px">Add new damage</h2>
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p>

<div class="container" style="min-height: 100vh">
    <form action="" th:action="@{'/damages/addAsModel'}" th:object="${newDamage}" method="post"
          modelAttribute="dto" >
        <div class="row">
            <div class="col-25">
                <label for="date">Date</label>
            </div>
            <div class="col-75">
                <input type="text" id="date" name="Date" placeholder="DD-MM-YYYY" th:field="*{damageDate}">
            </div>
        </div>
        <!--Add select!-->
        <div class="row">
            <div class="col-25">
                <label for="device">Device</label>
            </div>
            <div class="col-75">
                <select id="device" name="Device"  th:field="*{deviceInventNumber}">
                    <option value="null">Choose device</option>
                    <option  th:value="${inventNumber}" th:text="${text}"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="author">Author</label>
            </div>
            <div class="col-75">
                <select id="author" name="author" th:field="*{author}" >
                    <option value="null">Choose author</option>
                    <option th:each="author,iterStat:${authors}" th:value="${author}" th:text="${author}">Canada</option>

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="content">Description</label>
            </div>
            <div class="col-75">
                <textarea id="content" name="content" placeholder="Write something.." style="height:200px" th:field="*{description}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="check">Auto-create new post?</label>
            </div>
            <div class="col-75">
                <input type="checkbox" id="check" name="newPostFlag"  th:checked="*{newPostFlag}">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>



<div th:insert="~{fragments/footer.html::footer}"></div>
</body>
</html>